# игнорировать все файлы и каталоги Thumbs.db
Thumbs.db
# игнорировать каталоги tmp
tmp/
# игнорировать файлы, оканчивающиеся на _old
*_old
# игнорировать файлы, оканчивающиеся на _backup
*_backup
# игнорировать .DS_Store
.DS_Store